<aside id="default-sidebar" class="w-64 h-screen" aria-label="Sidebar">
    <div class="h-full px-3 py-4 dark:bg-gray-800">
        <ul class="space-y-2 font-medium">
            <li>
               <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                  
                  <span class="ml-3">Personajes</span>
               </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                   
                   <span class="ml-3">Personajes</span>
                </a>
             </li>
             <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                   
                   <span class="ml-3">Personajes</span>
                </a>
             </li>
             <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                   
                   <span class="ml-3">Personajes</span>
                </a>
             </li>
        </ul>
    </div>

</aside>
