<div class="relative">
  <pokemon-card-list #pokemonElement [urlPersonajes]="informationPokemon"></pokemon-card-list>


  <button 
    (click)="next()" 
    class="fixed inset-y-0 right-0 flex items-center pl-4
    bg-transparent  text-transparent-500 hover:text-white text-6xl"> 
    {{">"}} 
  </button>


  <button 
    (click)="backspace()" 
    class="fixed inset-y-0 left-0 flex items-center pl-4
    bg-transparent  text-transparent-500 hover:text-white text-6xl"> 
    {{"<"}}
  </button>

</div>
