
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .card{
        @apply rounded-xl shadow-lg;
    }
}

.container__cards{
  display: flex;
  flex-wrap: wrap;

}

.cards__width__box{
  width: 16.6%;
  padding: .5rem;
}



.grafica{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0%;
    left: -1%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
}



@media (max-width: 675px){
  .cards__width__box{
    width: 25%;
    padding: .5rem;
  }
}

@media (max-width: 575px){
  .cards__width__box{
    width: 50%;
    padding: .5rem;
  }
}


.nombre{

  color:#e5e7eb;
}


.close{
  color: rgba(255, 255, 255, 0.822);
  background: #1458e0;
  border-radius: 5px;
  padding: 5px 15px;
}
.close:hover{
  color: rgb(158, 158, 158);
  background: rgb(218, 6, 6);
  transition: .5s all;
  transform: scale(1.20);
}
