
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .card{
        @apply rounded-xl shadow-lg;
    }
}


.grafica{
    position: fixed;
    top: 0%;
    left: -1%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
}