<div *ngIf="urlPersonajes.length > 0; else notPokemon" class="container__cards">
  <div *ngFor="let item of urlPersonajes; let i=index"  class="cards__width__box  inline-block align-top">
    {{item.id}}
    <div class="card" [style.background-color]="backgroud">
      <div class="p-5 flex flex-col">
        <div class="rounded-xl overflow-hidden items-center justify-center">
          <pokemon-lazy-image [url]="item.image!"  [alt]="item.name"></pokemon-lazy-image>
        </div>
        <h5 class="nombre text-2xl md:text3xl font-medium mt-3" #name>
          {{item.name|uppercase}}
        </h5>
        <p class="text-slate-500 text-lg mt-3 cursor-pointer">
          </p>
        <a (click)="verGrafica(i,item.image!)" class="cursor-pointer text-center bg-blue-400 text-blue-700 py-2 rounded-lg font-semibold mt-4 hover:bg-blue-300 focus:scale-95 transition-all duration-200 ease-out">
          ver
        </a>

      </div>
    </div>
  </div>
</div>


<pokemon-grafica
  class="grafica"
  *ngIf="bool"
  [pokemon]='personaje'
  [img]="img"
  [name]="namee"
  ></pokemon-grafica>


<ng-template #notPokemon>
  <div class="w-full h-screen flex justify-around ">
    <img src="assets/rings.svg" alt="" width="90px" height="90px">
  </div>
</ng-template>




<button *ngIf="bool" (click)="cerrar()" class="btn fixed z-10 top-3 left-2 close">X</button>
