<div class="content bg-sky-950 scroll-mt-px">
    <div class="content-image">
        <div id="carousel">

            <div class="wrapper">
                <div class="container" id="c0">
                    <div class="image" id="i0">
                        
                        <div class="city">
            
                        <img [src]="img" alt="">
            
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
        
        <h3 class="nombre text-orange-600 text-6xl">{{name |uppercase}}</h3>
    </div>
    
    <div class="grafica">
        <div style="display: block; " >
            <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    width="850px" 
                    height="500"
                    >
            </canvas>
          </div>
    </div>
</div>





	
