@import url('https://fonts.googleapis.com/css?family=Raleway:200');

.content{
  background-image: url(../../../../assets/fondo.jpeg);
  background-repeat: no-repeat;
  background-size: calc(100%) calc(100%);
  position: relative;
  width: 100%;
  height: 100%;
}

.div{

  position: relative;
  width: 100%;
}
.div:nth-child(1){
  grid-area: 1  / 2 / 2 / 5;
}
.div:nth-child(2){
  width: 100%;
  grid-area: 2  / 2 / 5 / 4;
}

.div:nth-child(3){
  grid-area: 2  / 4 / 5 / 6;
}


.title{
  position: absolute;
  bottom: 35%;
  left: 35%;
}
.title h1{
  color: #F9FAFB;
  font-size: 45px;
  font-weight: bold;
  text-shadow: 10px 15px 5px rgba(0, 0, 0, 0.9);
}



div[style*="display: block"] {
    text-align: center;
    margin: 20px;
    color: black;
    height: 100%;
     /* Establece la altura al 100% del contenedor padre */
  }

  /* Estilos para el canvas del gráfico */
  canvas {
    width: 100% !important; /* Establece el ancho al 100% del contenedor padre */
    height: 100%; /* Establece la altura al 100% del contenedor padre */
    border: 1px solid #ddd;
    margin: 0 auto;
    color: black
  }








  .wrapper {

    width: 100%;
    height: 200px;
    perspective: 900px;
    margin: 0 auto;


    /* position: relative;
    z-index: 1; /* Colocar el contenido sobre el fondo
    padding: 20px;
    background-color: rgba(0.5, 0.5, 0.5, 0.4); /* Fondo semitransparente
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translateZ(50px); */
  }

  .container {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    transition: .5s all ease;
    transform: rotateX(60deg) scale(0.7);
    perspective: 900px;
    animation: entry 1s linear 1;
  }

  .container:hover {
    cursor: pointer;
    transform: rotate(0deg) scale(1) translateY(10px);
    transition: .5s all ease;
    z-index: 400;
  }


  @keyframes simple {
    50% {
      transform: translateX(10px);
      opacity: 0.5;
    }
    100% {
      transform: translateX(10px);
      opacity: 0;
    }
  }

  @keyframes simple1 {
    50% {
      transform: translateX(-10px);
      opacity: 0.5;
    }
    100% {
      transform: translateX(-10px);
      opacity: 0;
    }
  }

  @keyframes entry {
    0% {
      top: -20%;
      opacity: 0.1;
    }
    100% {
      top: 0%;
    }
  }



  .miContenedorDeGrafica {
    position: absolute;
    margin: 0 auto;

    background-color:rgba(0, 0, 0, 0.5);
    border: 1px solid #ddd;
    min-width: 325px;

    width:90%;
    height: 350px;
    margin: 0 auto;
    bottom: 0%;
    transform: skewY(20deg);
    font-size: 45px;
    box-shadow: 0px 15px 12px 2px rgba(0, 0, 0, 0.5);
    transition: 1s all;

  }

  .miContenedorDeGrafica:hover{
    transform: translateX(-100px);

  }

.titulo{
  font-size: 25px;
  color: #eee;
  font-weight: bold;

}
  /* Estilos para las etiquetas de los ejes */


@media(max-width:765px){
  .div:nth-child(2){
    position: initial;
  }
  .content{
    display: block;
  }
  .title{
    position: initial;
  }
  .miContenedorDeGrafica{
    position: initial;
    transform: none;
  }
}
